@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin: -70px auto 0;
}

.banner{
    height: 200px;
    background-color: rgb(26, 26, 26);
    display: block;
}